body {
  background: linear-gradient(to bottom, #A2C2E6,#A78BCA ); 
  
  .chart-wrapper, .nav-tabs-custom, .sbframe-commentary {
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

.value-box-primary, .bg-primary{
  border-radius: 10px;
  background-color:#A295D3 ;
}

.value-box {
    transition: transform 0.3s ease;
}

.value-box:hover {
    transform: scale(1.03); 
}

.container-fluid{
  background-color: #36454F;
}

.navbar-inverse{
  border-color: #36454F;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
  background-color: #1C2429;
}

.boxed-text {
  border: 1px solid #ccc; 
  padding: 15px; 
  margin: 10px; 
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #f9f9f9; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  overflow: auto;
}

.navbar-logo img {
    height: 45px;
    position: absolute;
    right: 0;
    margin-right: 12px;
}


